future-recipes/customerServiceAgent/flows/SendSatisfactionSurvey.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel
    >SendSatisfactionSurvey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Satisfaction Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Survey_Log</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <recordCreates>
        <name>Create_Survey_Log</name>
        <label>Create Survey Log</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ASR_Survey_Log__c</object>
    </recordCreates>
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>sent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>customer_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
