force-app/main/04_architecturalPatterns/multiSubagentNavigation/flows/CreateBooking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CheckInDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!check_in})</expression>
    </formulas>
    <formulas>
        <name>CheckOutDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!check_out})</expression>
    </formulas>
    <interviewLabel>CreateBooking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Booking_Record</name>
        <label>Create Booking Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>booking_id</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_In__c</field>
            <value>
                <elementReference>CheckInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out__c</field>
            <value>
                <elementReference>CheckOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <stringValue>Demo User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel__c</field>
            <value>
                <elementReference>Get_Hotel.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASR_Hotel_Booking__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Hotel</name>
        <label>Get Hotel</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Booking_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hotel_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASR_Hotel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hotel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booking_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>check_in</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>check_out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotel_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
