force-app/main/04_architecturalPatterns/multiSubagentNavigation/flows/SearchHotels.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SearchHotels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Hotels</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hotels</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <recordLookups>
        <name>Get_Hotels</name>
        <label>Get Hotels</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>location</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>location</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ASR_Hotel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>hotels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Hotels</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>check_in</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>check_out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ASR_Hotel__c</objectType>
    </variables>
</Flow>
