force-app/main/01_languageEssentials/templateExpressions/flows/AddToCart.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Update_Cart_Total</name>
        <label>Update Cart Total</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CurrentCart.Total_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Cart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCart.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_Cart_Total</name>
        <label>Init Cart Total</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CurrentCart.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cart_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Cart_Exists</name>
        <label>Check Cart Exists</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Cart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Cart_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cart_Item</targetReference>
            </connector>
            <label>Cart Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AddToCart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add To Cart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cart</name>
        <label>Create Cart</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>CurrentCart.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Init_Cart_Total</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <stringValue>Demo User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ASR_Shopping_Cart__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cart_Item</name>
        <label>Create Cart Item</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Cart_Total</targetReference>
        </connector>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shopping_Cart__c</field>
            <value>
                <elementReference>CurrentCart.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASR_Cart_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Cart</name>
        <label>Get Active Cart</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
        >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Cart_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>ASR_Shopping_Cart__c</object>
        <outputReference>CurrentCart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Cart</name>
        <label>Save Cart</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <inputReference>CurrentCart</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Cart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>item_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>price</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>new_total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentCart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ASR_Shopping_Cart__c</objectType>
    </variables>
</Flow>
