force-app/main/02_actionConfiguration/availableWhenFiltering/flows/ViewTicket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Case_Id</name>
        <label>Set Case Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>case_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticket_info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticket_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticket_info.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticket_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticket_info.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticket_info.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Found</name>
        <label>Check Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ticket_info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Id</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ViewTicket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>View Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
        >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ticket_number</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ticket_info</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Priority</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>case_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticket_info</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ticket_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticket_priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticket_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
