force-app/main/02_actionConfiguration/actionChaining/flows/SendReceipt.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SendReceipt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Receipt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <recordUpdates>
        <name>Update_Transaction</name>
        <label>Update Transaction</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Receipt_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ASR_Payment_Transaction__c</object>
    </recordUpdates>
    <assignments>
        <name>Assign_Sent</name>
        <label>Assign Sent</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>sent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>transaction_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
