future-recipes/dynamicActionRouting/flows/AssignTicket.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>AssignTicket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <recordUpdates>
        <name>Update_Ticket</name>
        <label>Update Ticket</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ticket_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Agent__c</field>
            <value>
                <elementReference>agent</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>ticket_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>agent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
