future-recipes/complexStateManagement/flows/SaveTasks.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SaveTasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Upsert_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <recordUpdates>
        <name>Upsert_Task</name>
        <label>Upsert Task</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <inputReference>Loop_Tasks</inputReference>
    </recordUpdates>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>tasks</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ASR_Task__c</objectType>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>task_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
